{% extends 'back.html.twig' %}
{% block title %}Modification{% endblock %}
{% block content %}
    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-md-8">
                <div class="form-group {% if edit_form.titre.vars.errors | length > 0 %} has-error {% else %} has-success {% endif %}">
                    {{ form_row(edit_form.titre , {'required':false,'attr':{'class':'form-control'}} ) }}
                </div>
                <div class="form-group {% if edit_form.description.vars.errors | length > 0 %} has-error {% else %} has-success {% endif %}">
                    {{ form_row(edit_form.description , {'required':false,'attr':{'class':'form-control'}} ) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group {% if edit_form.datepublish.vars.errors | length > 0 %} has-error {% else %} has-success {% endif %}">
                    {{ form_row(edit_form.datepublish , {'required':false,'attr':{'class':'form-control'}} ) }}
                </div>

                <div class="form-group {% if edit_form.categories.vars.errors | length > 0 %} has-error {% else %} has-success {% endif %}">
                    {{ form_row(edit_form.categories , {'required':false,'attr':{'class':'form-control'}} ) }}
                </div>

                <div class="form-group {% if edit_form.image.vars.errors | length > 0 %} has-error {% else %} has-success {% endif %}">
                    {{ form_row(edit_form.image , {'required':false,'attr':{'class':'form-control'}} ) }}
                </div>
                
                <input class="btn btn-primary" type="submit" value="Modifier" />

                <a class="btn btn-info" href="{{ path('user_articles_index' , {'id':app.user.id}) }}">Retour</a>
            </div>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('user_articles_index' , {'id':app.user.id}) }}">Tableau de bord</a></li>
      <li class="breadcrumb-item active">Modification</li>
    </ul>
{% endblock %}
